<div class="container">
	<!-- Outer Row -->
	<div class="row justify-content-center">
		<div class="col-xl-6 col-lg-12 col-md-9">
			<div class="card o-hidden border-0 shadow-lg my-5">
				<div class="card-body p-4">
				<!-- Nested Row within Card Body -->
					<div class="row">
				<!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>-->
						<div class="col-lg-12">
							<div class="p-5">
								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">Recupera tu Contraseña</h1>
								</div>
								<form class="user" [formGroup]="formRecuperar">
									<div class="p-grid">

										<div class="p-col-12">
											<span class="ui-float-label">
												<input type="text" formControlName="email" maxlength="50" pInputText> 
												<label>Email</label>
											</span>
										</div>
									
										<div class="p-col-6 p-offset-3">
											<button pButton #loginBtn type="button" 
												label="Enviar" 
												class="ui-button-raised" 
												(click)="recuperar()"
												iconPos="right"
												[icon]="iconBtn"
												[disabled]="!formRecuperar.valid"
												#btn
											>
											</button>
										</div>
									<hr>
									</div>
								</form>
								<hr>
								<div class="text-center">
									<a class="small" [routerLink]="['/componentes/create-user']">Crear cuenta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<p-toast></p-toast>